body{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    
}
.game-section{
    border: 20px solid purple;
    height: 100vh;
    font-family:'Times New Roman';
    background-color: rgb(29, 5, 44);
}
.score-table{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

h2{
    font-size: 23px;
    color: white;

}
.score-table h3{
    font-size: 23px;
    color: white;

}
.score-table p{
    text-align: center;
    font-size: 18px;
    color:white;
}

.intro-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    transition: opacity 1s ease;
    padding-top: 90px;
    
}
.intro-page h1{
    font-size: 40px;
    color: white;
}
.intro-page button{
        
    font-size: 20px;
    border-radius: 6px;
    background-color: purple;
    color: white;
    width: 10vw;
    cursor: pointer;
    height: 40px;
}

.match-winner{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    padding-top:130px;
    cursor:pointer;
    opacity:0;
    transition: opacity 1s ease 1s;
    
}
.option-main{
    padding-top: 50px;
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.option{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-content: center;
    padding-top: 40px;
}
.player1-image,.player2-image{
height: 30vh;
width: 20vw;

}   
.player2-image{
        transform: rotateY(180deg);
    }
 
 .paper-button
 ,.scissors-button,.rock-button{
    
    font-size: 20px;
    background-color: purple;
    color: white;
    border-radius: 3px;
    width: 13vw;
    height: 4vh;
    }

    div.fadeIn{
        opacity: 1;
        pointer-events: all;
    }
    
    div.fadeOut{
        opacity: 0;
        pointer-events:none,
    }

    .scoreClear{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        padding-top: 50px;
    }

    .reset-button{
        height: 5vh;
        width: 15vw ;
        font-size: 20px;
        border-radius: 6px;
        background-color: purple;
        color: white;
    }
    @keyframes shakeplayer1 {
        0% {transform: rotateY(180deg)translateY(0px)};
        15% {transform: rotateY(180deg)translateY(-50px)};
        25% {transform: rotateY(180deg)translateY(0px)};
        35% {transform: rotateY(180deg)translateY(-50px)};
        45% {transform: rotateY(180deg)translateY(0px)};
        55% {transform: rotateY(180deg)translateY(-50px)};
        65% {transform: rotateY(180deg)translateY(0px)};
        75% {transform: rotateY(180deg)translateY(-50px)};
        85% {transform: rotateY(180deg)translateY(0px)};
        100% {transform: rotateY(180deg)translateY(-50px)};
    } 

    
    @keyframes shakeplayer2 {
        0% {transform: translateY(0px)};
        15% {transform:translateY(-50px)};
        25% {transform: translateY(0px)};
        35% {transform: translateY(-50px)};
        45% {transform: translateY(0px)};
        55% {transform: translateY(-50px)};
        65% {transform: translateY(0px)};
        75% {transform: translateY(-50px)};
        85% {transform: translateY(0px)};
        100% {transform:translateY(-50px)};
    } 
    .animate1 {
        animation: shakeplayer1 2s ease;
    }
    .animate2 {
        animation: shakeplayer2 2s ease;
    }